<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Aggiungi Categoria</title>
		<link rel="stylesheet" th:href="@{css/stile_aggiungi.css}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="icon" href="image/markerImage.png">
	</head>
	<body>
		<div class="sidenav">
			<div class="sub-sidenav">
				<img src="image/books.png" >
				<p>ADMIN</p>
			</div>
			<a class="a-side" th:href="@{/autori}" th:text="'Autori'"></a>
			<a class="a-side" th:href="@{/categorie}" th:text="'Categorie'"></a>
			<a class="a-side" th:href="@{/libri}" th:text="'Libri'"></a>
			<a class="a-esc" th:href="@{/}">
    			<button class= "esc-button">
        			<img src="image/esc2.png" class="esc-image">
      			</button>
    		</a>	
		</div>
		<h4 th:text="'Aggiungi Categoria'"></h4>
		<div>
			 <form method = "post" th:object = "${categoria}">
				 <input type = "text" th:field = "*{descrizione}" placeholder="Descrizione"  required>
				 <p th:if = "${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" style = "color:red"></p>
				 <input class="check-button" type = "submit" th:value = "'Registra'">
			 </form>
			 <a th:href="@{/categorie}">
    			<button class="back-button">
    				<img src="image/back.png" class="back-image">
    			</button>
    		 </a>
		</div>
	</body>
</html>